*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #193677;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    height: 100vh;
    display: grid;
    align-items: center;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  img{
    height: 350px;
    width: 350px;

  }
  
  h1{
    font-size: 40px;
    text-align: center;
    color: #20f832;
    background-color: #7eee8896;
  }
  form{
    display: grid;
    justify-content: center;
    align-items: center;
  }
  button{
    background-color: #f8f320;
    color: #193677;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 30px;
    height: 60px;
    font-weight: bold;
    width: 250px;
  }

  