*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #193677;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
img{
  height: 350px;
  width: 350px;
  margin-bottom: 30px;
  margin: auto;
}

h1{
  font-size: 50px;
  text-align: center;
  color: #f8f320;
}
form{
  display: grid;
  justify-content: center;
  align-items: center;
}
input{
  background-color: #ffffff;
  color: #5172b8;
  border-radius: 15px;
  margin-top: 20px;
  padding: 20px;
  width: 300px;
  

}
button{
  background-color: #f8f320;
  color: #193677;
  border-radius: 15px;
  margin-top: 20px;
  font-size: 30px;
  height: 60px;
  font-weight: bold;
}

#placeholder{
  color: #5172b8;
}

a{
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  color: #f8f320;
}

