{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar</title>
</head>
<body>
    <div class="logo">
        <img src="{% static 'img/logo.png' %}" alt="Logo">
        <h1>{{palabra}} generada exitosamente</h1>
    </div>    

    <form id="departamento" method="POST" action="/departamento/">
        {% csrf_token %}
        <input type="hidden" id="con" name="departamento" value="{{departamento}}">
        <button type="submit">Continuar</button>
        <div class="boto">
            <a href="https://wa.me/{{ tlf }}?text={{ mensaje }}" target="_blank"> 
            <p>Compartir</p>
            <img src="{% static 'img/compartir.png' %}" alt="Compartir">
        </a>
        </div>
    </form>
</body>
</html>